<div class="project active" id="front_7">
    <div class="project__title">
        <h2>ART WITH HEART</h2>
    </div>
    <div class="project__preview">
        <a target="_blank" href="https://artwithheart.org" alt="Art With Heart">
            <img src="/assets/images/artwithh.PNG" class="preview__img" >
        </a> 
    </div>
    <div class="project__description" id="description">
        <p>This website was designed for a company that provides children and parents with resources for creative expression. Our job was to Migrate their original website from a Python/Django based stack to a Wordpress using Elementor. I was tasked with implementing CSS and JS that was beyond the scope of Elementor.</p>
    </div>
    <div class="project__tools">
        <div class="icon__box">
            <i class="devicon-html5-plain" title="html5"></i>
            <i class="devicon-css3-plain" title="css3"></i>
            <i class="devicon-javascript-plain" title="javascript"></i>
            <i class="devicon-wordpress-plain" title="wordpress"></i>
        </div>
        <a href="#front_6" class="next__arrow">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <polygon points="5 10 0 0 5 1.9 10 0 5 10"/>
            </svg>
        </a>
    </div>
</div>

<div class="project" id="front_6">
    <div class="project__title">
        <h2>PHOTO SNAG</h2>
    </div>
    <div class="project__preview">
        <a target="_blank" href="https://joelinares.com/projects/PhotoApp/" alt="Photo Snag">
            <img src="/assets/images/photosnag.png" class="preview__img" >
        </a> 
    </div>
    <div class="project__description" id="description">
        <p>This app was designed to allow users to find the best spots to shoot photography in a given location using a google and flickr API. The app was modeled after instagrams 3 column grid and is easy to use.</p>
    </div>
    <div class="project__tools">
        <div class="icon__box">
            <i class="devicon-html5-plain" title="html5"></i>
            <i class="devicon-css3-plain" title="css3"></i>
            <i class="devicon-javascript-plain" title="javascript"></i>
            <i class="devicon-jquery-plain" title="jquery"></i>
            <a href="https://github.com/joeantlin/photo_snag" target="_blank">
                <i class="devicon-github-plain" title="link to github files"></i>
            </a>
        </div>
        <a href="#front_5" class="next__arrow">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <polygon points="5 10 0 0 5 1.9 10 0 5 10"/>
            </svg>
        </a>
    </div>
</div>

<div class="project" id="front_5">
    <div class="project__title">
        <h2>SFIM</h2>
    </div>
    <div class="project__preview">
        <a target="_blank" href="https://joelinares.com/projects/sfim2/" >
            <img src="/assets/images/sfim2.png" class="preview__img" alt="SFIM">
        </a> 
    </div>
    <div class="project__description" id="description">
        <p>This website was designed for a company called SFIM. It was created to fix their messy site and make it quick and simple for parents to get information about the school and sign their kids up for classes. I designed and developed the website.</p>
    </div>
    <div class="project__tools">
        <div class="icon__box">
            <i class="devicon-html5-plain" title="html5"></i>
            <i class="devicon-css3-plain" title="css3"></i>
            <i class="devicon-javascript-plain" title="javascript"></i>
            <i class="devicon-jquery-plain" title="jquery"></i>
        </div>
        <a href="#front_4" class="next__arrow">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <polygon points="5 10 0 0 5 1.9 10 0 5 10"/>
            </svg>
        </a>
    </div>
</div>

<div class="project" id="front_4">
    <div class="project__title">
        <h2>HAFA ADAI LEMONADE</h2>
    </div>
    <div class="project__preview">
        <a target="_blank" href="http://hafaadailemonade.com/" >
            <img src="/assets/images/haffAdai.png" class="preview__img" alt="Hafa Adai Lemonade">
        </a> 
    </div>
    <div class="project__description" id="description">
        <p>This website has created for the company Hafa Adai Lemonade, in order to boost awareness of their food truck and sell merchandise online. In order to do so, our team created a single page e-commerce website, that included an order request form and an easy access social media widget. The design revolved around a modern and clean style that got straight to the point.</p>
    </div>
    <div class="project__tools">
        <div class="icon__box">
            <i class="devicon-html5-plain" title="html5"></i>
            <i class="devicon-css3-plain" title="css3"></i>
            <i class="devicon-javascript-plain" title="javascript"></i>
            <i class="devicon-jquery-plain" title="jquery"></i>
            <i class="devicon-bootstrap-plain" title=""bootstrap></i>
        </div>
        <a href="#front_3" class="next__arrow">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <polygon points="5 10 0 0 5 1.9 10 0 5 10"/>
            </svg>
        </a>
    </div>
</div>

<div class="project" id="front_3">
    <div class="project__title">
        <h2>TEAM UNI</h2>
    </div>
    <div class="project__preview">
        <a target="_blank" href="https://joelinares.com/projects/webstandards/" >
            <img src="/assets/images/teamUni.png" class="preview__img" alt="Team Uni">
        </a>
    </div>
    <div class="project__description" id="description">
        <p>This website was designed around the intent of creating a more design savvy informational website for web designers and coders. The design was chosen to illustrate the modern and dynamic use of HTML5 and CSS3. I worked on the base layout and home page of the website.</p>
    </div>
    <div class="project__tools">
        <div class="icon__box">
            <i class="devicon-html5-plain" title="html5"></i>
            <i class="devicon-css3-plain" title="css3"></i>
            <i class="devicon-javascript-plain" title="javascript"></i>
            <i class="devicon-jquery-plain" title="jquery"></i>
        </div>
        <a href="#front_2" class="next__arrow">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <polygon points="5 10 0 0 5 1.9 10 0 5 10"/>
            </svg>
        </a>
    </div>
</div>

<div class="project" id="front_2">
    <div class="project__title">
        <h2>ZEN GARDEN</h2>
    </div>
    <div class="project__preview">
        <a target="_blank" href="https://joelinares.com/projects/zen_garden/index.html" >
            <img src="/assets/images/zenGarden.png" class="preview__img" alt="Zen Garden">
        </a>
    </div>
    <div class="project__description" id="description">
        <p>This page was solely created to showcase the possible utilization of the new functions of CSS3. The design chosen was to give the user the feeling of being in space while things are constantly floating around in motion.</p>
    </div>
    <div class="project__tools">
        <div class="icon__box">
            <i class="devicon-html5-plain" title="html5"></i>
            <i class="devicon-css3-plain" title="css3"></i>
        </div>
        <a href="#front_1" class="next__arrow">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <polygon points="5 10 0 0 5 1.9 10 0 5 10"/>
            </svg>
        </a>
    </div>
</div>

<div class="project" id="front_1">
    <div class="project__title" >
        <h2>JOE LINARES PHOTOGRAPHY</h2>
    </div>
    <div class="project__preview">
        <a target="_blank" href="https://joelinares.com/projects/photography/" >
            <img src="/assets/images/preview.png" class="preview__img">
        </a> 
    </div>
    <div class="project__description" id="description">
        <p>This website was created as a concept depicting entering a coffee shop and and being able to view the art. The website showcases photography photos if they were hung on the walls of a coffee shop. Desaturated and pastel tones were used to give it the modern cozy vibe.</p>
    </div>
    <div class="project__tools">
        <div class="icon__box">
            <i class="devicon-html5-plain" title="html5"></i>
            <i class="devicon-css3-plain" title="css3"></i>
            <i class="devicon-javascript-plain" title="javascript"></i>
            <i class="devicon-jquery-plain" title="jquery"></i>
            <i class="devicon-php-plain" title="php"></i>
        </div>
        <a href="#front_7" class="next__arrow">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <polygon points="5 0 0 10 5 8.1 10 10 5 0"/>
            </svg>
        </a>
    </div>
</div>

<!-- <div class="project">
    <h1 class="project__title">Title</h1>
    <div class="project__preview">
        <img src="/assets/images/preview.png" class="preview__img">
    </div>

    <div class="project__description">
        <h2>Description</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget metus et lectus semper pretium ut quis
            tortor. Fusce interdum tristique lorem, non semper nibh tristique sit amet. Nullam tellus lectus, varius
            eget felis eget, mollis varius ex. Ut auctor bibendum massa quis dapibus. Etiam lobortis tortor eros, sit
            amet vehicula nunc consectetur ut.</p>
    </div>
    <div class="project__tools">
        <h4>Tools</h4>
        <div class="icon__box">
            <i class="devicon-angularjs-plain" alt="Angular"></i>
        </div>
    </div>
</div> -->

