<div class="project active" id="back_2">
    <div class="project__title">
        <h2>VIA3 Unity</h2>
    </div>
    <div class="project__preview">
        <a target="_blank" href="https://unity.via3.com" alt="Unity VIA3">
            <img src="/assets/images/unity.png" class="preview__img" >
        </a> 
    </div>
    <div class="project__description" id="description">
        <p>VIA3 Unity is platform focused on connecting teams & networks, utilizing real time video conferencing, chat messaging, & presence awareness. I primarily focused on the Front End of the platform creating channels similar to that of slack with file uploading/sharing & video calls enabled. It is an Angular 10+ SPA using SignalR for realtime user interactions, C# & .NET backend, SQL database, and Auth0 user sign-in/authorization.</p>
    </div>
    <div class="project__tools">
        <div class="icon__box">
            <i class="devicon-angularjs-plain" title="angular 10"></i>
            <i class="devicon-typescript-plain" title="typescript"></i>
            <i class="devicon-html5-plain" title="html5"></i>
            <i class="devicon-sass-plain" title="sass"></i>
            <i class="devicon-csharp-plain" title="csharp"></i>
            <i class="devicon-mysql-plain" title="mssql"></i>
            <i class="devicon-dotnetcore-plain" title="dotnetcore"></i>
            <i class="devicon-azure-plain" title="azure"></i>
        </div>
        <a href="#back_1" class="next__arrow">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <polygon points="5 10 0 0 5 1.9 10 0 5 10"/>
            </svg>
        </a>
    </div>
</div>

<div class="project" id="back_1">
    <div class="project__title">
        <h2>PHOTO FUSER</h2>
    </div>
    <div class="project__preview">
        <div class="iframe__container">
                <iframe src="https://www.youtube.com/embed/GC-MMWbq8A4?rel=0&amp;showinfo=0" frameborder="0" allow="accelerometer;" allowfullscreen></iframe>
        </div>
    </div>
    <div class="project__description" id="description">
        <p>Community-driven web application where a user can upload, share, and comment on photos created using the Deep Art Effects API. This machine learning technology merges the user's photos with famous well-known images. I Created the Back End logic that displayed dynamic content made by the user and modeled the UI and UX after Instagram using SASS.</p>
    </div>
    <div class="project__tools">
        <div class="icon__box">
            <i class="devicon-html5-plain" title="html5"></i>
            <i class="devicon-sass-plain" title="sass"></i>
            <i class="devicon-javascript-plain" title="javascript"></i>
            <i class="devicon-python-plain" title="python"></i>
            <i class="devicon-django-plain" title="django"></i>
            <i class="devicon-mysql-plain" title="mysql"></i>
            <a href="https://github.com/joeantlin/photo_fuser" target="_blank">
                <i class="devicon-github-plain" title="link to github files"></i>
            </a>
        </div>
        <a href="#top_back" class="next__arrow">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <polygon points="5 0 0 10 5 8.1 10 10 5 0"/>
            </svg>
        </a>
    </div>
</div>

<!-- <div class="project">
    <div class="project__title">
        <h2>JOE LINARES PHOTOGRAPHY</h2>
    </div>
    <div class="project__preview">
        <img src="/assets/images/preview.png" class="preview__img">
    </div>
    <div class="project__description" id="description">
        <p>This website was created as a concept depicting entering a coffee shop and and being able to view the art. The website showcases photography photos if they were hung on the walls of a coffee shop. Desaturated and pastel tones were used to give it the modern cozy vibe.</p>
    </div>
    <div class="project__tools">
        <div class="icon__box">
            <i class="devicon-html5-plain"></i>
            <i class="devicon-css3-plain"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-jquery-plain"></i>
            <i class="devicon-php-plain"></i>
        </div>
    </div>
</div> -->